[submodule "courier-maildrop-minimal"]
	path = src/courier-maildrop-minimal
	url = https://aur.archlinux.org/courier-maildrop-minimal.git
[submodule "courier-unicode"]
	path = src/courier-unicode
	url = https://aur.archlinux.org/courier-unicode.git
[submodule "swaykbdd"]
	path = src/swaykbdd
	url = https://aur.archlinux.org/swaykbdd.git
[submodule "flyline"]
	path = src/flyline
	url = https://aur.archlinux.org/flyline.git
