pkgbase = swaykbdd
	pkgdesc = Automatic keyboard layout switching in Sway
	pkgver = 1.4
	pkgrel = 1
	url = https://github.com/artemsen/swaykbdd
	arch = x86_64
	license = MIT
	makedepends = meson
	depends = json-c
	source = swaykbdd-1.4.tar.gz::https://github.com/artemsen/swaykbdd/archive/v1.4.tar.gz
	sha256sums = 63c331213f55db9acad2fb2ef41ae7f9091082fb02153cb19d4abf24609a256e

pkgname = swaykbdd
